.idea


#uat
!allure-report-jackpot-uat
!allure-report-casino-uat
!allure-report-uk-uat
#dev
!allure-report-jackpot-dev
!allure-report-casino-dev
!allure-report-uk-dev
#test
!allure-report-jackpot-test
!allure-report-casino-test
!allure-report-uk-test